<nav class="navbar navbar-expand-lg bg-white px-5" [style.height]="'12vh'">
  <div class="container">
    <!-- Logo Component -->
    <div>
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/images/logo.png" alt="Jalal Overseas Logo" class="navbar-logo" />

        <div class="brand-text">
          <span class="company-name">Jalal Overseas International</span>
          <span class="company-tagline">Your Trusted Recruitment Partner</span>
        </div>
      </a>
    </div>

    <!-- Toggle button for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links Component -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <app-navbar></app-navbar>
    </div>
  </div>
</nav>
